$baseFontSize: 13px;
$baseLineHeight: 18px;
$navbarBackground: #A80E5B;
$navbarBackgroundHighlight: #CE1170;

/*
Examples:

Add a border-radius property of 10px:

@include border-radius(10px);
*/

// I gather this file is a starting point for the project.
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
  padding-top: 76px; // this should be based on navbar outer height
}

article header {
  margin-bottom: -.5em;
}

article h1 {
  color: #CE1170;
  font-size: 2.2em;
  line-height: 1.26em;
  margin-top: 0.4em;
  font-family: 'Merriweather', Georgia, serif;
  a {
    color: #CE1170;
    &:hover {
      color: #A80E5B;
      text-decoration: none;
    }
  }
}

article h2 {
  color: #585858;
  font-family: 'Merriweather', Georgia, serif;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  font-size: 1.4em;
  line-height: 1.5em;
}

article header h4, article h4.byline {
  color: #817679;
  font-weight: normal;
  padding-bottom: 1em;
  margin-top: -.5em;
  font-size: 1.2em;
  a {
    color: #817679;
    &:hover {
      color: #277000;
      text-decoration: none;
    }
  }
}

.navbar a.brand {
  font-family: 'Merriweather', Georgia, serif;
  text-transform: lowercase;
  font-size: 2.2em;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #FFFFFF;
  line-height: 1;
  padding: 12px 20px 10px;
  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}

p, li, dt, dd, td {
  font-size: 16px;
  line-height: 1.5;
}

.unnumbered > ol {
  list-style-type: none;
}

.paragraph.lead p {
  @extend .lead;
}

.paragraph.lead, p.lead {
  margin-bottom: 16px;
}

.imageblock {
  margin-bottom: 10px;
}

.imageblock.ctr .content {
  text-align: center;
}

.admonitionblock {
  margin-bottom: 10px;
  td.icon {
    vertical-align: top;
    padding-right: 3px;
    .title {
      font-weight: bold;
      text-transform: uppercase;

      &:after {
        content: ': ';
      }
    }
  }
}

.ulist li > p:only-child {
  margin-bottom: 0;
}

a {
  color: #359800;
  &:hover {
    color: #236500;
    text-decoration: none;
  }
}

tt {
  @extend code;
}

.tags {
  color: #575757;
  clear: both;
  a {
    color: #359800;
    &:hover {
      color: #236500;
      text-decoration: none;
    }
  }
}

.g-plusone-slot {
  display: block;
  padding: 13px 0;
}
.g-plusone {
  display: block;
}

// undo bootstrap breakage of google +1 bubbles
.gc-bubbleDefault {
  @for $i from 1 through 9 {
    img[height='#{$i}'] {
      height: #{$i}px;
    }   
  }
}

.about .name {
  font-size: 1.2em;
  font-family: 'Merriweather', Georgia, serif;
  padding-top: 0.6em;
  padding-left: 0.2em;
}

.about .details {
  padding-top: 0.6em;
  padding-left: 0.4em;
}

.about .profiles {
  padding-left: 0.4em;
}

.post img {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.post img.pull-right {
  padding-left: 0.6em;
}

.post img.pull-left {
  padding-right: 0.6em;
}

.post .citation {
  background-color: #f7f7f7;
  overflow: hidden;
  padding-bottom: 0.3em;
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  border: 2px solid #fff;
  @include border-radius(10px);

  h2 {
    font-size: 1.6em;
    padding-left: .5em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  p {
    padding-left: 1.2em;
    padding-right: 1.5em;
  }
  
  p.byline {
    padding-left: .8em;
    padding-bottom: 1em;
    font-size: 14px;
    font-style: italic;
    line-height: .6;
  }
}

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";
